<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-xs-5 form-group">
          <span class="label">Name</span>
          <input type="text" name="" id="name" class="form-control" required="required" 
          title="" 
          name="name"
          ngModel 
          required>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <span class="label">Amount</span>
          <input type="number" name="" id="amount" class="form-control" required="required" title="" 
          name="amount"
          ngModel
          required
          [pattern]="'^[1-9]+[0-9]*$'">
        </div>
        <div class="row">
          
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" class="btn btn-success" type="submit" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
            <button type="button" class="btn btn-danger" type="button" [disabled]="!editMode" (click)="onDeleteItem()">Delete</button>
            <button type="button" class="btn btn-primary" type="button" (click)="resetFormAndValues()">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>